$white: #FFFFFF;
$black: #000000;
$grey: #777777;
$transparent: rgba(0,0,0,0);
$darkopaque: rgba(0,0,0,0.5);
$lightopaque: rgba(255,255,255,0.5);

$main: #333; // body font
$primary: #bada55; // headings
$secondary: #b20022; // links